ul {
  list-style-type: none;
}

.card {
  border: 1px solid grey;
  box-shadow: 0px 14px 19px 10px rgba(174, 174, 174, 0.42);
  width: 33%;
  height: 300px;
  border-radius: 5px;
  margin-top: 15px;
}

.card:hover {
  box-shadow: 2px 12px 15px #999;
  transform: translateY(-2px);
}

.card-text-box {
  padding-left: 10px;
  padding-top: 5px;
  text-align: left;
}

.kursevi {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.mate {
  opacity: 0;
  animation-name: visible;
  animation-duration: 1s;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
}

.fiz {
  opacity: 0;
  animation-name: visible;
  animation-duration: 100ms;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
  animation-delay: 100ms;
}

.prog {
  opacity: 0;
  animation-name: visible;
  animation-duration: 100ms;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
  animation-delay: 200ms;
}

.design {
  opacity: 0;
  animation-name: visible;
  animation-duration: 150ms;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
  animation-delay: 300ms;
}

.elektron {
  opacity: 0;
  animation-name: visible;
  animation-duration: 100ms;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
  animation-delay: 400ms;
}

.energy {
  opacity: 0;
  animation-name: visible;
  animation-duration: 100ms;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
  animation-delay: 500ms;
}

.site-zaedno {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.card > div {
  display: flex;
  width: 100%;
  height: 50%;
}

.card-img-box > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card {
  display: flex;
  flex-direction: column;
  border: 2px solid rgb(204, 204, 204);
  border-radius: 3px;
}

#navigacija {
  width: 20%;
}

.kursevi {
  width: 80%;
}

.matematika {
  height: 280px;
}

.fizika {
  height: 300px;
}

.programiranje {
  height: 200px;
}

.dizajn {
  height: 250px;
}

.elektronika {
  height: 100px;
}

.energetika {
  height: 150px;
}

.kocka {
  width: 50px;
  background-color: cornflowerblue;
}

.dijagram {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  margin-bottom: 150px;
}

.kategorija {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
}

.naslov {
  display: flex;
  justify-content: center;
}

.footer {
  position: fixed;
  min-height: 150px;
  width: 100%;
  bottom: 0;
  display: flex;
  justify-content: center;
  background-color: lightgray;
  color: darkslategray;
  font-size: smaller;
  padding: 20px 0 20px 0;
}

.footer-lista {
  padding: 10px;
  margin-right: 20px;
  margin-left: 20px;
  border-left: 1px solid rgb(70, 109, 109);
}

@media only screen and (min-width: 769px) {
  .card {
    min-width: 33%;
  }
}

@media only screen and (max-width: 768px) {
  #navigacija {
    display: none;
  }

  .kursevi {
    width: 100%;
  }
}

@media only screen and (max-width: 640px) {
  .card {
    min-width: 48%;
  }
}

@media only screen and (max-width: 480px) {
  .card {
    width: 80%;
  }
}

@keyframes visible {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
