@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;500&family=Roboto&display=swap");

.root-card {
  display: flex;
  width: 300px;
  margin-left: auto;
  margin-right: auto;
  flex-direction: column;
  justify-content: center;
}
.card-img {
  display: flex;
}
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 50%;
  width: 110px;
}

.card-name {
  width: 300px;
  height: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding-top: 0.5rem;
  padding-bottom: 3px;
  justify-content: center;
  font-family: "Roboto", sans-serif;
}

.card-at {
  width: 200px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 10px;
  font-family: "Roboto", sans-serif;
  display: flex;
  justify-content: center;
  color: rgb(151, 151, 151);
}

.card-bio {
  display: flex;
  font-family: "Roboto", sans-serif;
  width: 200px;
  height: 100px;
  margin-right: auto;
  margin-left: auto;
  justify-content: center;
  text-align: center;
}

.card-tags {
  display: flex;
  justify-content: center;
  width: 300px;
  margin-left: auto;
  margin-right: auto;
}

.card-tags > ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
  padding-left: 0;
}

.card-tags > ul > li {
  list-style: none;
  display: flex;
  justify-content: space-between;
  margin: 3px;
  padding: 3px;
  text-align: center;
  background: rgb(243, 243, 243);
  border-radius: 5px;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  color: rgb(105, 105, 105);
}

.msg-btn {
  background-color: #ebebeb;
  border-radius: 4px;
  display: inline-block;
  cursor: pointer;
  color: #000000;
  font-family: "Roboto";
  font-weight: bolder;
  font-size: 17px;
  padding: 9px 76px;
  text-decoration: none;
  text-align: center;
}
.msg-btn:hover {
  background-color: #dedede;
}
.msg-btn:active {
  position: relative;
  top: 1px;
}

.follow-btn {
  background-color: #0f71cc;
  border-radius: 4px;
  display: inline-block;
  cursor: pointer;
  color: #f8f8f8;
  font-family: "Roboto";
  font-weight: bolder;
  font-size: 17px;
  margin-top: 10px;
  padding: 9px 76px;
  text-decoration: none;
  text-align: center;
}
.follow-btn:hover {
  background-color: #dedede;
}
.follow-btn:active {
  position: relative;
  top: 1px;
}
